  * {
    box-sizing: border-box;
  }
  body {
    font-family:arial;
    background-color: #f0f0f9;
  }
  .main {
    text-align: center;
  }
  .formContainer,
  .mainCont {
    width: 400px;
    margin: auto;
    position: relative;
    top: 100px;
    background-color: #FFF;
    padding: 24px;
  }
  .formContainer .header {
    font-size: 24px;
    text-align: left;
    color: #667;
    margin-bottom: 24px;
  }
  .mainCont .header {
    font-size: 24px;
    color: #667;
    margin-bottom: 24px;
  }
  .fieldTitle {
    text-align: left;
    color: #999;
    font-size: 14px;
    margin-bottom: 4px;
  }
  .formContainer form input {
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 16px;
    padding: 8px;
    color: #666;
  }
  .formContainer form input.error {
    border-color: darkorange;
  }
  .formContainer form button,
  .mainCont a.logOut {
    background-color: #667;
    width: 100%;
    padding: 10px;
    border: 0;
    font-size: 16px;
    color: #FFF;
    margin-top: 20px;
    display: block;
    text-decoration: none;
  }
  .formContainer form button {
    margin-bottom: 12px;
  }
  .formContainer form button:hover {
    background-color: #778;
    cursor: pointer;
  }
  .fieldError {
    float:right;
    color: darkorange;
    font-size:12px;
  }
  .altLink a {
    color: #669;
    text-decoration: none;
    font-size: 12px;
  }
  .altLink a:hover {
    color: #77a;
  }
